body{
    background-color: #fec868;
}
h1{
    text-align: center;
}

#choices{
    display:flex;
    justify-content: center;
    padding:10px 0px 10px 0px;    
}

button{
    width: 60px;
    height: 60px;
    background-color: white;
    border: 5px solid #abc270;
}

#buttons{
    width: 200px;
}

#rock{
    background-image: url("rock.png");
    background-size: 100%;
}
#paper{
    background-image: url("paper.png");
    background-size: 100%;
}
#scissors{
    background-image: url("scissors.png");
    background-size: 100%;
}

#scores{
    display: flex;
    width: 100%;
     /**justify-content: space-around;*/
    gap:60%;
    padding:10px 0px 10px 0px; 
    justify-content: center;
}

#main{
    display:flex;
    width:100%;
    justify-content: space-around;
    align-items: center;
}

#message{
    width:300px;
    display: flex;
    justify-content: center;
    text-align: center;
}

#replay{
    display: flex;
    justify-content: center;
}

img{
    border: 10px solid #fda769;
    background-color: white;
}

p{
    font-size: 30px;
}
